<% content_for :title, "Missing Page | Kitestring" %>
<% content_for :description, "The page you were looking for does not exist." %>

<div class="container">
  <div class="row">
    <div class="span6 offset3">
      <h2>Oops!</h2>
      <p>The page your were looking for does not exist.  If you think this is an error, please <a href="mailto:contact@kitestring.io">let us know</a>.</p>
    </div>
  </div>
</div>
