<% content_for :title, "FAQ | Kitestring" %>
<% content_for :description, "Frequently asked questions about Kitestring." %>

<div class="container">
  <div class="row main-row">
    <div class="span6 offset3">
      <h2>Frequently Asked Questions</h2>

      <h3>What is this?</h3>
      <p>It&rsquo;s a mobile-friendly web application.  You tell the app that you&rsquo;re going on a trip, and then it checks up on you (via SMS) to make sure you haven&rsquo;t been mugged or assaulted. You reply to the SMS messages (or check in on the website) to confirm your well-being. If you &ldquo;go dark,&rdquo; the app alerts a list of emergency contacts that you set up ahead of time.</p>

      <h3>Is it free?</h3>
      <p>Yep!  Free as in beer and free as in freedom.  It&rsquo;s <a href="https://github.com/boyers/kitestring">open source</a>!</p>

      <h3>Do my emergency contacts need to confirm their phone numbers?</h3>
      <p>No.  Your emergency contacts don&rsquo;t even have to know that they are your emergency contacts (though we think it might be wise to tell them).</p>

      <h3>What if my phone runs out of battery?</h3>
      <p>You won&rsquo;t be able to check in with us, and we&rsquo;ll notify your emergency contacts (as we normally would).  The basic notification service runs on our servers and does not depend on your phone being available.</p>

      <h3>Will you do anything bad with my phone number?</h3>
      <p>No, of course not!  Your personal information will not be shared with anyone.  All interaction with this website is encrypted over HTTPS.</p>

      <h3>I&rsquo;m taking a while to get home.  Can I extend my ETA?</h3>
      <p>Of course.  Just send a text message like &ldquo;5m&rdquo; to +1 (707) 7376-523.</p>

      <h3>I got home early.  Can I check in via SMS?</h3>
      <p>Totally.  Just text &ldquo;ok&rdquo; to +1 (707) 7376-523.</p>

      <h3>Can I test it with myself as an emergency contact?</h3>
      <p>Sure!  That&rsquo;s a good way to see how the app works.</p>

      <h3>I found a bug.  What do I do?</h3>
      <p>Send an email to <a href="mailto:contact@kitestring.io">contact@kitestring.io</a>.  Thanks!</p>

      <h3>Who is behind this?</h3>
      <p>Hi, I&rsquo;m <a href="http://www.stephanboyer.com">Stephan</a>.  The project is run by me.</p>

      <h3>In which format should I enter phone numbers?</h3>
      <p>We prefer you use the <a href="http://en.wikipedia.org/wiki/E.164">E.164 format</a> for all phone numbers.  If you live in the United States, you may omit the country code (but don&rsquo;t forget the area code).</p>

      <h3>In what countries is this app available?</h3>
      <p>Kitestring is available in the following countries: <em>Afghanistan, Albania, Algeria, American Samoa, Andorra, Angola, Anguilla, Antigua and Barbuda, Argentina, Armenia, Aruba, Ascension, Australia/Cocos/Christmas Island, Austria, Azerbaijan, Bahamas, Bahrain, Bangladesh, Barbados, Belarus, Belgium, Belize, Benin, Bermuda, Bhutan, Bolivia, Bosnia and Herzegovina, Botswana, Brazil, Brunei, Bulgaria, Burkina Faso, Burundi, Cambodia, Cameroon, Canada, Canary Islands, Cape Verde, Cayman Islands, Central Africa, Chad, Chile, China, Colombia, Comoros, Congo, Dem Rep, Costa Rica, Croatia, Cyprus, Czech Republic, Denmark, Djibouti, Dominica, Dominican Republic, Dominican Republic, Ecuador, Egypt, El Salvador, Equatorial Guinea, Eritrea, Estonia, Ethiopia, Faroe Islands, Fiji, Finland/Aland Islands, France, French Guiana, French Polynesia, Gabon, Gambia, Georgia, Germany, Ghana, Gibraltar, Greece, Greenland, Grenada, Guadeloupe, Guam, Guatemala, Guinea, Guyana, Haiti, Honduras, Hong Kong, Hungary, Iceland, India, Indonesia, Iran, Iraq, Ireland, Israel, Italy, Ivory Coast, Jamaica, Japan, Jordan, Kenya, Korea Dem People's Rep, Korea Republic of, Kosovo, Kuwait, Kyrgyzstan, Laos PDR, Latvia, Lebanon, Lesotho, Liberia, Libya, Liechtenstein, Lithuania, Luxembourg, Macau, Macedonia, Madagascar, Malawi, Malaysia, Maldives, Mali, Malta, Marshall Islands, Martinique, Mauritania, Mauritius, Mexico, Micronesia, Moldova, Monaco, Mongolia, Montenegro, Montserrat, Morocco/Western Sahara, Mozambique, Myanmar, Namibia, Nepal, Netherlands, Netherlands Antilles, New Caledonia, New Zealand, Nicaragua, Niger, Nigeria, Northern Mariana Islands, Norway, Oman, Pakistan, Palau, Palestinian Territory, Panama, Paraguay, Peru, Philippines, Poland, Portugal, Puerto Rico, Qatar, Reunion/Mayotte, Romania, Russia/Kazakhstan, Rwanda, Samoa, San Marino, Saudi Arabia, Senegal, Serbia, Seychelles, Sierra Leone, Singapore, Slovakia, Slovenia, Somalia, South Africa, Spain, Sri Lanka, St Kitts and Nevis, St Lucia, St Pierre and Miquelon, St Vincent Grenadines, Sudan, Suriname, Swaziland, Sweden, Switzerland, Syria, Taiwan, Tajikistan, Tanzania, Thailand, Togo, Tonga, Trinidad and Tobago, Tunisia, Turkey, Turkish Republic of Northern Cyprus, Turkmenistan, Turks and Caicos Islands, Tuvalu, Uganda, Ukraine, United Arab Emirates, United Kingdom, United States, Uruguay, Uzbekistan, Vatican City, Venezuela, Vietnam, Virgin Islands, British, Virgin Islands, U.S., Yemen, Zambia, Zimbabwe</em>.</p>
    </div>
  </div>
</div>
