<% content_for :title, "Terms of Service | Kitestring" %>
<% content_for :description, "The terms of service for Kitestring." %>

<div class="container">
  <div class="row main-row">
    <div class="span6 offset3">
      <h2>Kitestring FAQ</h2>

      <h3>What is this?</h3>
      <p>It&rsquo;s a mobile-friendly web application.  You tell the application that you&rsquo;re going on a trip, and then it checks up on you (via SMS) to make sure you haven&rsquo;t been mugged or assaulted. You reply to the SMS messages (or check in on the website) to confirm your well-being. If you &ldquo;go dark,&rdquo; the application alerts a list of emergency contacts that you set up ahead of time.</p>

      <h3>Is it free?</h3>
      <p>Yep!  Free as in beer and free as in freedom.  It&rsquo;s <a href="https://github.com/boyers/kitestring">open source</a>!</p>

      <h3>Do my emergency contacts need to confirm their phone numbers?</h3>
      <p>No.  Your emergency contacts don&rsquo;t even have to know that they are your emergency contacts (though we think it might be wise to tell them).</p>

      <h3>I&rsquo;m taking a while to get home.  Can I extend my ETA?</h3>
      <p>Of course.  Just send a text message like &ldquo;5m&rdquo; to +1 (707) 7376-523.</p>

      <h3>I got home early.  Can I check in via SMS?</h3>
      <p>Totally.  Just text &ldquo;ok&rdquo; to +1 (707) 7376-523.</p>

      <h3>Can I test it with myself as an emergency contact?</h3>
      <p>Sure!  That&rsquo;s a good way to see how the app works.</p>

      <h3>I found a bug.  What do I do?</h3>
      <p>Send an email to <a href="mailto:contact@kitestring.io">contact@kitestring.io</a>.  Thanks!</p>

      <h3>Who is behind this?</h3>
      <p>Hi, I&rsquo;m <a href="http://www.stephanboyer.com">Stephan</a>.  The project is run by me.</p>
    </div>
  </div>
</div>
