<% content_for :title, "Kitestring" %>
<% content_for :description, "Keep tabs on your well-being." %>

<div id="hero">
  <div id="hero-clouds"></div>
  <div id="hero-buildings"></div>
  <div class="container" id="hero-heading-vessel">
    <div id="hero-heading"><%= image_tag("logo.png") -%></div>
    <div id="hero-subheading">Keep tabs on your well-being.</div>
    <div id="hero-call-to-action"><a id="call-to-action" href="#sign_up_form" ks-named-anchor>Get started <i class="fa fa-angle-double-right"></i></a></div>
  </div>
</div>

<div class="gray-vessel">
  <div class="container">
    <div class="row main-row">
      <div class="span4">
        <h2 class="no-top-margin"><i class="fa fa-umbrella"></i> Taking a walk?</h2>
        <p class="no-bottom-margin">Walking solo at night can be unsafe.  But when you must go out alone, let us know your ETA.</p>
      </div>
      <div class="span4">
        <h2 class="no-top-margin"><i class="fa fa-mobile"></i> Check in with us</h2>
        <p class="no-bottom-margin">We&rsquo;ll send you a text message when your trip is over.  Just reply to let us know you made it.</p>
      </div>
      <div class="span4">
        <h2 class="no-top-margin"><i class="fa fa-group"></i> Stay connected</h2>
        <p class="no-bottom-margin">
          If you don&rsquo;t reply, we&rsquo;ll send your emergency contacts a customizable alert message.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row main-row">
    <div class="span4 offset2">
      <%= form_tag('/send_verification', { 'method' => 'post', 'id' => 'sign_up_form', 'class' => 'no-vertical-margin', 'data-ks-form' => '' }) do %>
        <h2 class="no-top-margin"><i class="fa fa-rocket"></i> Sign up</h2>
        <div class="small-p"><input name="name" class="focus-target full-width" type="text" placeholder="Full Name" /></div>
        <div class="small-p"><input name="phone" class="full-width" type="tel" placeholder="Phone number" /></div>
        <div class="small-p no-bottom-margin"><input type="submit" class="button" value="Sign up" /></div>
      <% end %>
    </div>
    <div class="span4">
      <%= form_tag('/sign_in', { 'method' => 'post', 'id' => 'sign_in_form', 'class' => 'no-vertical-margin', 'data-ks-form' => '' }) do %>
        <h2 class="no-top-margin"><i class="fa fa-sign-in"></i> Sign in</h2>
        <div class="small-p"><input name="phone" class="focus-target full-width" type="tel" placeholder="Phone number" /></div>
        <div class="small-p"><input name="password" class="full-width" type="password" placeholder="Password" /></div>
        <div class="small-p no-bottom-margin"><input type="submit" class="button" value="Sign in" /></div>
      <% end %>
    </div>
  </div>
</div>
