<% content_for :title, "Privacy Policy | Kitestring" %>
<% content_for :description, "The privacy policy for Kitestring." %>

<div class="container">
  <div class="row main-row">
    <div class="span6 offset3">
      <h2>Privacy Policy</h2>
      <h3>Information that is gathered from visitors</h3>
      <p>In common with other websites, log files may be stored on the server(s) which include details such as the visitor&rsquo;s IP address, browser type, referring page, and time of visit.</p>
      <p>Cookies may be used to remember visitor preferences when interacting with the website.</p>
      <p>Where registration is required, information entered into the application may be stored on the server(s).</p>
      <h3>How the Information is used</h3>
      <p>The information is used to provide core services and to enhance the vistor&rsquo;s experience when using the website.</p>
      <p>Personal information such as phone numbers will not be sold, rented or leased to third parties.</p>
      <h3>Cookies</h3>
      <p>Cookies are small data files stored by your web browser that allow your preferences to be recorded when visiting the website. They also may be used to track your return visits to the website.</p>
      <p>You may be able to block cookies via your browser settings, but this may prevent you from access to certain features of the website.</p>
    </div>
  </div>
</div>
