@import 'constants';

#current-message {
  padding: 8px 16px;
  background-color: #eee;
  font-style: italic;
  font-size: 0.9em;
  font-weight: 400;
  color: #666;
  @include border-radius(2px);
}

.expired {
  color: #e00;
}

.icon-link {
  padding: 8px 8px;
}

#time-controls {
  background-color: #ddd;
  padding: 16px 16px;
  @include border-radius(2px);
}
